@import "testi.css";

*,
html {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Rubik";
  background-color: #00823e;
}
header {
  margin: 12px;
  margin-left: 26px;
  margin-right: 26px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2pc;
}
li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.cta-nav {
  background-color: #ffffff;
  color: #00823e;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  margin-right: 2pc;
}
#hero {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  padding-top: 32px;
  margin-bottom: 10pc;
}
.content-hero h1 {
  color: #ffffff;
  border-bottom-style: solid;
  border-color: #00db6f;
  font-size: 32px;
  padding-bottom: 2px;
  margin-bottom: 4px;
  margin-top: 5.5pc;
}
.content-hero p {
  color: #c7c7c7;
  margin-bottom: 3pc;
}
.cta-btn {
  text-decoration: none;
  background-color: #00db6f;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 12px;
}
#product {
  background-color: #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -5px 12px;
  display: flex;
  flex-direction: column;
  column-gap: 40px;
}
.product-title {
  text-align: center;
  padding-top: 4rem;
  text-transform: uppercase;
  font-weight: 400;
}
.product-container {
  margin-top: 5pc;
  padding: 50px;
}
.product-title p {
  font-size: small;
  color: #696969;
}
.product-title h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #00823e;
}
.product-right {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  margin-left: 60%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: box-shadow 0.5s;
  color: #696969;
  background-color: #ffffff;
  border-radius: 10px;
}
.product {
  display: flex;
  width: 40%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: box-shadow 0.5s;
  color: #696969;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.product h3 {
  color: #00823e;
}
.product-right h3 {
  color: #00823e;
}
.product:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 3.9px 3.9px 2.6px;
}
.product-right:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 3.9px 3.9px 2.6px;
}
.best-seller {
  display: flex;
  align-items: center;
}
.best-seller p {
  display: flex;
  background-color: #eef20c;
  color: #ffffff;
  font-size: 5px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 6px;
  padding: 2px;
}
